div {
   border: 1px solid black;
   padding: 25px 50px 75px 100px;
   background-color: lightblue;
 }
 
 body { 
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

 #header {
   
   background-color: #f1f1f1;;
   padding: 50px 10px;
   color: black;
   text-align: center;
   font-size: 40px; 
   font-weight: bold;
   position: fixed;
   top: 0;
   width: 100%;
   transition: 0.4s;
 }