.button1:hover {
    background-color: #d81b1b;
    color: white;
    
  }
.button2:hover {
    background-color: #070707;
    color: white;
    padding: 10px;
  }

  div{
    display: flex;
    justify-content: center;
   
}

body {
    background-color: blue;
  }